@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    html {
        font-family: 'Outfit', sans-serif;
        scroll-behavior: smooth;
    }
}

@layer utilities {
    .animate-marquee {
        animation: marquee 40s linear infinite;
    }

    @media (max-width: 768px) {
        .animate-marquee {
            animation: marquee 25s linear infinite;
        }
    }

    /* Pause animation on hover for better user interaction */
    .animate-marquee:hover {
        animation-play-state: paused;
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-33.33%);
        }
    }
}